/vendor
/node_modules
Homestead.yaml
Homestead.json
.env
/nbproject/
.env.test
/public/test.php
/storage/apps
.project
.idea/
.idea/.name
.idea/.name
.idea/berrybenka.laravel.iml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/blade.xml
composer.lock
.buildpath
.settings/
public/googlec0a60d3f5240d834.html
public/google1e5d5ef331becde4.html
public/google8d1abbc4cf252899.html
public/lb.txt
/storage/app
/storage/logs
