@font-face {
  font-family: 'futura';
  src: url('../fonts/futura.eot?#iefix') format('embedded-opentype'),  url('../fonts/futura.woff') format('woff'), url('../fonts/futura.ttf')  format('truetype'), url('../fonts/futura.svg#futura') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'futurabold';
  src: url('../fonts/futurabold.eot?#iefix') format('embedded-opentype'),  url('../fonts/futurabold.woff') format('woff'), url('../fonts/futurabold.ttf')  format('truetype'), url('../fonts/futurabold.svg#futurabold') format('svg');
  font-weight: normal;
  font-style: normal;
}
html, body{margin:0;padding:0;font-family:'futura', sans-serif;background:#f3f3f3;font-size:14px;}
body{min-width:1100px;}
img{border:none;max-width:100%;height:auto;display:block;}
a{color:#555;text-decoration:none;}a:hover,a:active,a:visited{text-decoration:none;border:none;outline:none;}a:hover{color:#000 !important;}
ul, li, ol{margin:0;padding:0;list-style:none;}
*{ -webkit-appearance:none;-moz-appearance:none;appearance:none;text-rendering: optimizeLegibility;-webkit-font-smoothing: subpixel-antialiased;
}
*:focus,*:active,*:visited{outline:none;border:none;}
.left{float:left;}.right{float:right;}.clear{clear:both;}
.clearfix{clear:both;}
.clearfix::after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.wrapper{width:1100px;margin:0 auto;box-sizing:border-box;padding:0 10px;position:relative;}
.top-header .wrapper{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: justify;
-ms-flex-pack: justify;
justify-content: space-between;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
}
header{border-bottom:1px solid #dedede;position:fixed;top:0;left:0;width:100%;z-index:999;background:#fff;
-webkit-box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.25);
-moz-box-shadow:    0px 1px 3px 0px rgba(50, 50, 50, 0.25);
box-shadow:         0px 1px 3px 0px rgba(50, 50, 50, 0.25);}
header .wrapper,.top-header,.top-right-header{background:#fff;}
.top-header{padding:15px 0;border-bottom:1px solid #dedede;transition:all ease .2s;}
.top-header::after{clear:both;content:"";}
.logo{width:220px;display:inline-block;}.logo img{display:block;}
.top-right-header ul li{display:inline-block;margin:0 0 0 3px;line-height:1.5;}
.top-right-header{float: none !important;}
.top-right-header a{font-size:12px;}
.tas-belanja{margin:0 3px;}
.total-checkout {border:1px solid #999;border-radius: 100px;color: #fff;display: inline-block;font-size: 10px;line-height: 1;margin: 0;/*padding: 3px 3px 4px 3px;*/text-align: center;width: 11px;color:#555;font-family:'arial',serif;width:20px;padding:5px 0;}
.menu-list *,.right-item-wrapper *{transition: all .2s ease .2s ;}
nav{/*padding:10px 0px;*/width:100%;position:relative;}
nav::after{clear:both;display:block;content:"";}
.menu-switcher {display: block;position:relative;z-index:2;/*padding:3px 0;*/}
.nav-header .menu-switcher{padding:4px 0;}
.nav-header #searching{border:none;}
.menu-switcher li {display: block;float: left;text-align: center;}
.menu-switcher li i{display:none;}
.menu-switcher li:first-child a{border-radius:4px 0 0 4px;border-top:1px solid #999;border-bottom:1px solid #999;border-left:1px solid #999;}
.menu-switcher li:nth-child(2) a{border-radius:0 4px 4px 0;border-top:1px solid #999;border-bottom:1px solid #999;border-right:1px solid #999;}
.menu-switcher a {display: block;padding: 3px 0;width: 60px;transition:all linear .2s;text-transform:uppercase;font-size:12px;line-height:1 !important;font-family:'arial', Helvetica, sans-serif !important;}
.menu-switcher a:hover,.ui-tabs-active a{background:#aaa;color:#fff;}
.ui-tabs-active a{color:#fff !important;}
.menu-switcher a:active{color:#000;}
.menu{padding-bottom:4px;}
.woman-menu.menu-list ,.man-menu.menu-list{position: absolute;text-align: center;/*top:11px;*/width:100%;z-index:1;top:50%;transform:translateY(-50%);-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);box-sizing:border-box;height: 100%}
.woman-menu li,.man-menu li {display:block;margin:0 5px;}
.woman-menu li a,.man-menu li a{text-transform:uppercase;font-size:12px;line-height:12px;padding:14px 0;letter-spacing:1px;display:block;}

.man-menu{display:none;}

.nav-search{z-index:5;position:absolute;right:10px;top:50%;transform:translateY(-50%);-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);padding:10px 0;}
.nav-search input[type="text"]{border:none;background:none;box-sizing:border-box;width:120px;padding:7px 10px;position:relative;z-index:5;font-style:italic;cursor:pointer;color:#999;}
.nav-search input[type="text"]:focus{width:1080px;}

#searching{background:#fff;border:1px solid #ccc;border-radius:2px;}

.search-result-list {
    background: #f0f0f0 none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    margin-top: 15px;
    padding:0 10px 10px 10px;
    position: absolute;
    width: 1080px;
  right:0;
  max-height:400px;overflow-y:scroll;
}
.search-result-list > h1{font-weight:bold;color:#999;font-size:16px;margin-bottom:5px;padding-bottom:5px;padding-top:10px;}
.search-result-list ul{border-bottom:1px solid #999;}
.search-result-list ul li a{padding:7px 10px;display:block;transition:none;position:relative;}
.search-result-list ul li a:hover{background:#ccc;}
.search-result-list ul:last-child{border:none;}
.search-cat{position:absolute;right:10px;color:#cc6600;font-style:italic;}
.nav-search i{position:absolute;right:5px;/*top:4px;*/z-index:3;color:#999;font-size:12px;top:50%;transform:translateY(-50%);-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);-ms-transform:translateY(-50%);-o-transform:translateY(-50%);}

.nav-header{transition:all ease .2s;}
/*.nav-header .nav-search{top:8px;}*/
.nav-header .menu-list ul li a{font-size:10px;}
.nav-header .woman-menu li a, .nav-header .man-menu li a{padding:20px 0;}
.nav-header .sub-menu-child ul li a{padding:0;}
.nav-header .nav-search{padding:22px 0;}
.logo-small{/*width:150px;padding:7px 0 4px 0;*/position:relative;z-index:4;display:none;width:30px;margin:0 10px;}
/*.nav-header .menu-switcher{width:auto;border:none;}
.nav-header .menu-switcher ul li span{display:none;}
.nav-header .menu-switcher ul li i{display:block;}
*/
.nav-header .logo-small{display:block;}
.nav-header .nav-search{border:none;}
.nav-header .nav-search input[type="text"]{width:0px;appearance: none !Important;}
.nav-header .nav-search input[type="text"]:focus{width:1020px;border:1px solid #ccc;border-radius:2px;}
.nav-header .nav-search i{color:#555;}
.nav-header .menu-switcher{margin-left:10px;}
.nav-header nav{padding: 10px !Important;}
/*.nav-header .menu-switcher a{width:25px;font-size:18px;font-weight:bold;color:#ccc;border:none !important;padding:2px 0;}
.nav-header .menu-switcher a:hover, .nav-header .ui-tabs-active a,.nav-header .menu-switcher a:hover, .nav-header .ui-tabs-active i{color:#000;background:none;}*/

.right-item {font-size: 15px;position: absolute;right: 30px;/*top:10px;*/width:80px;z-index:2;display:none;top:50%;transform:translateY(-50%);-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);}
.nav-header .right-item{display:block;}
.right-item a{padding:12px;}
.right-item li {display:block;float:left;padding:25px 0;}
.right-item li .fa-user{margin-top:2px}

.has-child{position:relative;}
.sub-menu{position:absolute;top:100%;padding:15px 20px;background:rgba(255,255,255,.95);left:0%;border:1px solid #dedede;box-sizing:border-box;
z-index:1;display: none
}
.sub-menu a{color:#666 !important;}
.sub-menu a:hover{text-decoration:underline;transition:none !important;color:#000 !important;}
.sub-menu-wrapper{display:flex;flex-wrap:wrap;justify-content:flex-start;width:100%;}
.sub-menu h1{text-align:left;font-size:16px;text-transform:uppercase;letter-spacing:2px;margin-bottom:20px;padding:0 40px 0 10px;}
.sub-menu h1 a{padding:0 !important;text-transform:capitalize;letter-spacing:1px;margin:2px 0;font-size:12px;margin-top:5px;max-width:100px;min-width: 60px}
.sub-menu-top,.sub-menu-bottom{display:flex;display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;
-webkit-box-align: start;
-ms-flex-align: start;
align-items: flex-start
}
/*.sub-menu-top{padding-bottom:10px;}*/
.sub-menu-bottom{border-top:1px solid #ccc;padding-top:20px;}
.sub-menu-bottom .sub-menu-wrapper{flex-wrap:wrap;}
.sub-menu-bottom .sub-menu-wrapper ul{display:flex;flex-wrap:wrap;justify-content:space-between;}
.sub-menu-bottom .sub-menu-wrapper ul li a{padding:0;font-size:10px;letter-spacing:1px;}
.sub-menu-bottom .sub-menu-wrapper ul li{padding-right:10px;}


.menu-list ul li:hover .sub-menu{display:block !important;}
.sub-menu::after{clear:both;display:block;content:"";}
.sub-menu-child{padding:0 20px;/*margin-bottom:30px;*/}
.sub-menu-child ul li{display:block;text-align:left;}
.sub-menu-child ul li a{line-height:2;text-transform:capitalize;padding:0;font-size:12px !important;min-width:80px;}
.sub-menu-child ul li a:hover{text-decoration:underline;}
.content{margin-top:100px;position:relative;}
#loading {
   width: 100%;
   height: 100%;
   top: 0px;
   left: 0px;
   position: fixed;
   display: block;
   background:rgba(255,255,255,.95);
   z-index: 99;
   text-align: center;
}
.load-icon{width:75px;position:absolute;top:50%;left:50%;height:75px;margin:-37.5px 0 0 -37.5px;opacity:0.9;}
.nav-checkout{width:220px;border:1px solid #dedede;padding:10px;background-color:#f9f9f9;position:absolute;right:10px;top:99%;display:none;z-index:9;
-webkit-box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.25);
-moz-box-shadow:    0px 1px 3px 0px rgba(50, 50, 50, 0.25);
box-shadow:         0px 1px 3px 0px rgba(50, 50, 50, 0.25);
max-height:600px;overflow-Y:scroll;}
.top-right-header ul li:last-child{padding:0 0 3px 0;}
/*.top-right-header ul li:last-child:hover .nav-checkout,.right-item ul li:last-child:hover .nav-checkout{display:block;}*/
.nav-header .nav-checkout{top:95%;right:-20px;}
/*.right-item li{padding-bottom:20px;}*/
.nav-checkout ul li{display:block;padding-bottom:10px;margin-bottom:10px;float:none;width:auto;margin-left:0;border-bottom:1px solid #dedede;}
.nav-checkout ul li:last-child{border:none;}
.nav-checkout ul li::after{display:block;clear:both;content:"";}
.nav-check-img{width:30%;margin-right:5%;}
.nav-check-detail{width:65%;}
.nav-checkout .item-info *{margin:0;}
.item-info h4{font-family:'futurabold',serif;text-transform:uppercase;}
.item-info small{margin:5px 0;display:block;font-style:italic;}
.detail{font-size:12px;margin-bottom:5px;}
.detail b{width:50px;display:inline-block;}
.detail p{display:inline-block;}
.gotocheck{display:block;padding:10px 0;text-transform:uppercase;text-align:center;background-color:#000;color:#fff;margin:10px 0;}
.gotocheck:hover{color:#fff;}
.menu-switcher ul{background:none;border:none !important;}
.menu-switcher ul li{background:#fff !important;}
/*.menu-switcher .ui-tabs-active span{color:#fff;}*/


.content-header {text-align: center;}
.breadcrump ul li {color: #444;display: inline-block;font-size: 12px;}
.catalog-title::after {border-bottom: 1px solid #999;bottom: -5px;clear: both;content: "";height: 3px;left: 50%;margin-left: -25px;position: absolute;width: 50px;}
.catalog-title {color: #444;display: inline-block;font-family: "futura",serif;font-size: 16px;font-weight: normal;margin: 10px 0 40px;position: relative;text-transform: uppercase;}
.sortby {color: #999;font-size: 16px;position: absolute;right: 10px;top: 15px;padding-bottom:5px;border-bottom:1px solid #999;}
.sortby select {background: rgba(0, 0, 0, 0) none repeat scroll 0 0;border: medium none;color: #444;position: relative;z-index: 4;padding-right:10px;}
.sortby i {position: absolute;right: 0;top: 3px;z-index: 3;}


footer{background:#5a5a5a;}
.upper-footer {background: #f9f9f9 none repeat scroll 0 0;border-bottom: 1px solid #dedede;color: #444;font-size: 12px;line-height: 1.5;padding: 15px 0;text-align: center;}
.top-footer{padding:30px 0;border-bottom:1px solid #dedede;}
.footer-item{display:block;float:left;margin-right:80px;/*width:150px;*/font-size: 12px;color: #fff;letter-spacing: 1px;}
.footer-item p{text-transform:uppercase;margin:0 0 10px 0;font-family:"futura", serif;font-size: 12px !important;}
.footer-item p a{color:#999;color:#fff;font-size:12px;}
.footer-item a{font-size:14px;}
.footer-item ul li a{font-size:12px;color:#fff;line-height:1.5;letter-spacing: 1px;}
.subscriber p{margin:0 0 10px 0;font-size:12px;font-family:"futura", serif;color:#fff;font-weight: lighter;margin-bottom: 20px;text-transform: capitalize;}
.subscribe input[type="email"],.subscribe input[type="text"]{width: 60% !important;border-bottom: 1px solid #999 !Important;display: block;color:#fff;border:none;padding: 4px 0;background: none;color:#fff;}
.subscribe input[type="email"]::placeholder,.subscribe input[type="text"]::placeholder{color:#fff;font-style: italic;letter-spacing: 1px;}
.subscribe{background:none;}
.subscribe::after{clear:both;display:block;content:"";}
.subscribe input{line-height:1;box-sizing:border-box;display:block;float:left;}
.subscribe input[type="submit"]{background: none;color:#fff;border:none;text-transform:uppercase;padding:12px 5px 5px 5px;width:40%;cursor:pointer;transition:all ease .2s .2s;-webkit-transition:all ease .2s .2s;text-align: left;font-family: "futura", serif;letter-spacing: 1px;}

.bottom-footer{padding:20px 0;text-align:center;}
.copyright{color:#fff;font-size:12px;display:inline-block;}
.payment-certificate span{margin-left:5px;}
.bb-app{text-align:center;}
.bb-app p{text-align:left;margin:5px 0;}
.bb-app img{width:100px;display:inline-block;}
.follow{display:inline-block;float:right;}
.follow p{font-size:16px;text-transform:uppercase;margin:0 0 5px 0;}
.follow ul li{display:inline-block;margin-right:10px;}
.follow ul li a{color:#444;}
.follow ul li a i{font-size:20px;}
.payment-certificate a:hover,.follow ul li a:hover,.footer-item a:hover{color:#000;}
.appstore{margin-top:10px;}
.appstore li {border-radius: 5px;display: inline-block;width: 75px;}


.sub-menu-child ul li {
    display: block;
    margin: 0 2px 5px;
    text-align: left;
  /*width:120px;*/
}.sub-menu-child a {
    font-size: 11px !important;
}
.prod-desc{transition: all ease .2s;}
.detail-expand{max-height:1000px !important;transition:all ease .2s !important;}
.has-child .fa-angle-down{margin-left:2px;}
.sku-tags{font-size:9px;color:#999;text-transform:uppercase;width:90%;margin:10px auto;}
.sku-tags span{margin:2px 5px;display:inline-block;}
.sku-tags strong{margin-right:5px;color:#666;}
.sku a{color:#999;}
.pagination{margin:20px 0;}
.pagination ul li{display:inline-block;}
.pagination ul li a{color:#999;padding:10px;display:block;}
.pagination ul li a:hover{background-color:#ccc;color:#fff;}
.pagination.right li:first-child a,.pagination.right li:last-child a{/*padding:5px 7px 4px;line-height:1.1;*/padding:10px;}
.pagination .active{padding:10px;background:#ccc;}
.fancybox-image{background:#fff !important;padding:5px !important;border:1px solid #ccc !important;}
.ubah-alamat-edit{cursor:pointer !important;}

.success-msg i,.success a{color:#027C0E !important;}
.success-msg{background:#B3E0B8;border:1px solid #7CAD81;color:#027C0E;position:relative;display:block;padding:10px;border-radius:3px;margin:10px 0;}
.success-msg i{margin-right:15px;}
.success-msg i.fa-times{position:absolute;right:0;}

.error-msg-login{color:#a94442;text-align:center;display:block;background:#F2DEDE;border:1px solid #ebccd1;box-sizing:border-box;padding:10px;margin:10px 0;position:relative;border-radius:3px;text-align:left;}
.error-msg-login i{color:#A94442;margin-right:10px;}
.error-msg-login .fa-times{position:absolute;right:0;cursor:pointer;}
.user-dd{position:relative;}
.user-wrappers {background: #fff none repeat scroll 0 0;border: 1px solid #ccc;position: absolute;top: 170%;width: 120px;z-index: 9;display:none;}
.user-wrappers ul li{display:block;float:none;margin:0;}
.user-wrappers ul li a{display:block;padding:10px;}
.user-wrappers ul li a:hover{background:#AAAAAA;color:#fff !important;}
.user-wrapepr-alternate{top:90%;width:120px;}
.user-wrappers ul li{padding:0;}
.user-wrapepr-alternate ul li a{font-size:12px;}
.user-dd a {cursor: pointer;transition: none;height: 20px;}
.user-wrapeprs-alternate{top:100% !important;}
.user-wrapeprs-alternate a{font-size:12px;}
.pnf-content h1 {
  font-size: 26px;
  font-weight: lighter;
  letter-spacing: 2px;
  line-height: 40px;
  position: relative;
}
.pnf-content p {
  font-size: 22px;
  line-height: 30px;
  margin: 30px 0;
}
.pnf-wrapper {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #dedede;
  border-radius: 2px;
  box-shadow: 1px 0 5px 0 rgba(50, 50, 50, 0.2);
  width: 100%;
  text-align: center;
  color: #999;
  padding: 40px;
}
.pnf-content h1::after {
    display: block;
    content: "";
    border-bottom: 1px solid #999;
    width: 150px;
    position: absolute;
    left: 50%;
    margin-left: -75px;
    top: 123%;
}
.q-login{width:250px;position:absolute;background:#fff;padding:0 30px 20px 30px;z-index:9;border:1px solid #ccc;border-radius:3px;top:200%;left:0%;margin-left:-55px;display:none;
-webkit-box-shadow: 0px 0px 7px -2px rgba(94,94,94,1);
-moz-box-shadow: 0px 0px 7px -2px rgba(94,94,94,1);
box-shadow: 0px 0px 7px -2px rgba(94,94,94,1);
}
#rememberme{display:none;}
#rememberme:checked + label::before{background:#999;}
.remember::before{border:1px solid #999;display:block;content:"";width:10px;height:10px;position:absolute;top:7px;left:0;
-webkit-box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,1);
-moz-box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,1);
box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,1);
transition:all ease .2s .2s;-webkit-transition:all ease .2s .2s;
}
.remember{padding-left:20px;position:relative;display:block;margin:10px 0 15px 0;}
.remember p{display:inline-block;color:#666;}
.qshow{display:block;opacity:1;visibility:visible;}
.q-login h1{text-transform:uppercase;padding:20px 0 10px 0;border-bottom:1px solid #999;margin-bottom:20px;font-size:16px;letter-spacing:4px;color:#666;text-align:center;}
.q-login input[type="text"], .q-login input[type="password"]{border:1px solid #999;-webkit-appearance:none;box-sizing:border-box;padding:13px;display:block;margin-bottom:15px;width:100%;}
.q-login input{border-radius:3px;}
.qlogin-btn{background:#333;color:#fff;text-transform:uppercase;border:none;-webkit-appearance:none;display:block;width:100%;padding:10px 0;margin-bottom:10px;}
.q-fb{background:#425F9C;color:#fff;border:none;-webkit-appearance:none;width:100%;padding:10px 0;text-transform:uppercase;}
/*.q-login input.q-logpass{margin-bottom:5px;}*/
.q-login a{display:block;text-align:center;color:#999;margin:10px auto;}
.q-regis{margin:40px 0 0 0 !important;}
.q-regis span{text-decoration:underline;padding:0 2px;}
a.fb-a {height: auto;}



.menu-list ul{display:flex;flex-wrap:no-wrap;justify-content:center;max-width:100%;position:relative;display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;-webkit-justify-content: center;margin:0 auto;text-align:center;height:100%;}
.sub-menu-child ul{flex-direction:column;-webkit-flex-direction:column;-ms-flex-direction: column;}
.nav-checkout a:hover{color:#fff !important;}
.bank-deals{padding:20px 0;}
.bank-deals h1{font-size:24px;text-align:center;text-transform:uppercase;color:#555;position:relative;margin:0px 20px 30px 20px;;}
.bank-deals h1::after{content:"";display:block;border-bottom:1px solid #999;width:45%;position:absolute;top:150%;left:50%;transform:translateX(-50%);-webkit-transform:translateX(-50%);-moz-transform:translateX(-50%);-ms-transform:translateX(-50%);-o-transform:translateX(-50%);;}
.list-deals ul{display:flex;justify-content:flex-start;flex-wrap:wrap;}
.list-deals ul li{display:block;width:25%;box-sizing:border-box;padding:10px;}
.lifestyle{display:none;}
.tab-menu{display:block;text-align:center;margin:20px 0;}
.tab-menu ul{display:flex;justify-content:center;}
.tab-menu ul li{margin:0 10px;font-size:16px;padding:05px 0;border-bottom:1px solid transparent;}
.tab-menu ul li.current{border-bottom:1px solid #f00;}
.banner-image{width:1100px;margin:110px auto 20px auto;box-sizing:border-box;padding:0 10px;}
.banner-image img{width:100%;height:auto;}
.sd-social{margin-bottom: 30px;}
.sd-social ul li{display: inline-block;margin-right:10px;}
.sd-social p{font-size: 12px;text-transform: capitalize; margin-bottom: 10px;}
.sd-social ul li a i{color: #fff;font-size: 20px;}

/*update*/
.bottom-footer .wrapper,.payment-certificate{  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;-webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
.payment-certificate{-webkit-box-pack: end;-ms-flex-pack: end;justify-content: flex-end}
.wording-footer{width: 390px; margin:0;}
.wording-footer p{text-transform: none !important;font-size: 10px !important;line-height: 1.5;}
#wrapshl {
   width:600px;
   margin:0 auto;
}
#left_col_shl {
   float:left;
   width:300px;
}
#right_col_shl {
   float:right;
   width:300px;
}

.shopdeca-layout {
  width: 1080px;
  margin: 120px auto 20px auto; }

.main-banner ul, .selected-brand ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .main-banner ul li, .selected-brand ul li {
    margin: 5px 0; }
  .main-banner ul a, .selected-brand ul a {
    position: relative;
    display: block; }
    .main-banner ul a .overlay-banner, .selected-brand ul a .overlay-banner {
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0);
      transition: all ease-out 0.2s 0.2s; }

.main-banner ul li a:hover > .overlay-banner {
  background: rgba(0, 0, 0, 0.3); }

.selected-brand {
  margin-top: 40px; }
  .selected-brand ul li {
    margin: 10px 0; }

.selected-brand a {
  position: relative;
  display: block;
  transition: all ease-out 0.3s 0.3s; }
  .selected-brand a .bw-banner {
    position: relative;
    z-index: 2;
    transition: all ease-out 0.3s 0.3s; }
  .selected-brand a .color-banner {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%; }

.selected-brand a:hover > .bw-banner {
  opacity: 0; }

.catalog-list::after,.content::after,.cart-list-wrapper::after{
   display: block;
   clear: both;
   content: "";width:0;height:0;overflow:hidden;
}
.overlay-product{position:absolute;width:100%;height:100%;display:block;}
