.order-track{padding:100px 0 20px 0;}
.category-head h4{font-family:'futura',arial;padding:0;text-transform:uppercase;letter-spacing:1px;}
.order-track table{width:100%;margin-bottom:20px;}
.order-track table tr th{padding:10px;}
.order-track table tr td{box-sizing:border-box;padding:10px;letter-spacing:1px;line-height:1.5;color:#555;}
.order-track p{line-height:1.5;letter-spacing:1px;color:#555;}