#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.nav-wrapper{width:280px;height:100%;padding:0 10px 10px 10px;box-sizing:border-box;background:rgba(255,255,255,0.5);overflow:scroll;}
#cssmenu{font-family:"futura",sans-serif;text-align:left;font-weight:normal;/*border-bottom:1px solid #999;*/}
#cssmenu ul ul {
  display: none;
}
#cssmenu ul li a{color:#555;}
#cssmenu > ul > li > a {
  padding: 15px 20px;
  font-size: 14px;
}
#cssmenu ul li ul li a{font-size:12px;}

/*#cssmenu > ul > li:last-child > a,
#cssmenu > ul > li.last > a {
  border-bottom: 1px solid #999;
}*/
.holder {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  right: 0;
}
.holder::after,
.holder::before {
  display: block;
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  right: 20px;
  z-index: 10;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
  transition:all ease .2s .2s;
  -webkit-transition:all ease .2s .2s;
}
.open .holder::after,.open .holder::before{
 -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);	
}
/*.holder::after {
  top: 17px;
  border-top: 1px solid #dedede;
  border-left: 1px solid #dedede;
}*/
#cssmenu > ul > li > a:hover > span::after,
#cssmenu > ul > li.active > a > span::after,
#cssmenu > ul > li.open > a > span::after {
  border-color: #999;
}
.holder::before {
  top: 18px;
  border-top: 1px solid;
  border-left: 1px solid;
  border-top-color: inherit;
  border-left-color: inherit;
}
#cssmenu ul ul li a {
  cursor: pointer;
  padding: 10px 20px;
  z-index: 1;
  text-decoration: none;
  font-size: 13px;
}
#cssmenu ul ul li:first-child > a {
  box-shadow: none;
}
#cssmenu ul ul ul li a {
  padding-left: 30px;
}
#cssmenu > ul > li > ul > li:last-child > a,
#cssmenu > ul > li > ul > li.last > a {
  border-bottom: 0;
}
#cssmenu > ul > li > ul > li.open:last-child > ul > li:last-child > a {
  border-bottom: 0;
}
#cssmenu ul ul li.has-sub > a::after {
  display: block;
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  right: 20px;
  z-index: 10;
  top: 11.5px;
  border-top: 1px solid #999;
  border-left: 1px solid #999;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.has-sub ul{padding-left:10px !important;}
